@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 216 100% 4%;
    --foreground: 0 100% 100%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 46 100% 50%;
    --primary-foreground: 216 100% 4%;

    --secondary: 211 100% 12%;
    --secondary-foreground: 0 100% 100%;

    --muted: 209 49% 10%;
    --muted-foreground: 209 50% 21%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 209 100% 20%;
    --input: 214.3 31.8% 91.4%;
    --ring: 50 100% 52%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
